Source: libvchan-xen
Section: libs
Priority: extra
Maintainer: Jason Mehring <nrgaway@gmail.com>
Build-Depends: debhelper, quilt, autotools-dev, libxen-dev
Standards-Version: 3.9.5
Homepage: http://www.qubes-os.org

Package: libvchan-xen1
Section: libs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: qubes-core-vchan-xen
Provides: libvchan
Description: Qubes Xen core libraries
 This package includes the libraries required for the higher-level Qubes
 daemons and tools.

Package: libvchan-xen-dev
Section: libdevel
Architecture: amd64
Conflicts: qubes-core-vchan-xen
Breaks: libvchan-xen (<< 4.2.0)
Replaces: libvchan-xen (<< 4.2.0)
Depends: libvchan-xen1 (= ${binary:Version}), ${misc:Depends}
Provides: libvchan-dev
Description: Development files for Qubes libvchan communication library.
