#include <windows.h>
#ifdef RC_INVOKED

// qwt_version.h is generated during build by set_version.ps1
// it contains definition of QWT_* macros
#include "qwt_version.h"

#if defined(DBG) || defined(DEBUG) || defined(_DEBUG)
#define VER_DBG VS_FF_DEBUG
#else
#define VER_DBG 0
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION QWT_FILEVERSION
PRODUCTVERSION QWT_PRODUCTVERSION
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS VER_DBG
FILEOS VOS_NT
FILETYPE VFT_DLL
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "000004B0" // LANG_NEUTRAL/SUBLANG_NEUTRAL, Unicode CP
    BEGIN
      VALUE "FileVersion", QWT_FILEVERSION_STR
      VALUE "ProductVersion", QWT_PRODUCTVERSION_STR
      VALUE "FileDescription", "Qubes vchan library"
      VALUE "ProductName", "Qubes Windows Tools"
      VALUE "CompanyName", "Invisible Things Lab"
      VALUE "LegalCopyright", "(C) Invisible Things Lab"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0000, 0x04B0
  END
END
#endif
